/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Poppins:wght@300&display=swap');

/* Global Styles */
body {
  font-family: 'Aboreto', cursive;
  font-family: 'Poppins', sans-serif; 
  font-size: 1.2 rem;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
}
.app-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.content-container {
  position: absolute;
  top: 70px; /* height of the navbar */
  bottom: 80px; /* height of the footer */
  margin-left: calc(100vw - 100%); /* width of the scrollbar -- added to make sure the content is centered */
  left: 0;
  right: 0;
  overflow-y: auto;
}

/* Footer Styles */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
}
footer div a {
  margin: 0 3rem;
}

/* Portfolio Page Styles */
.project-container {
  position: relative;
  width: 80%;
  height: 70%;
  margin: 3rem auto 1rem;
}
.img {
  width: 90%;
  height: 90%;
  width: 100%;
  object-fit: fill;
}
.project {
  position: absolute;
  transition: all 0.4s ease;
  opacity: 0;
}
.project-container:hover .project {
  opacity: .9;
}
.fade-effect {
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  background-color: whitesmoke;
}
.fade-effect:hover .btn {
  color: whitesmoke;
  background-color: #333;
  opacity: 1;
}

/* About Page styling */
#about {
  overflow: hidden;
}
.about-photo {
  margin: 0 0 0 -20%;
  border-radius: 50%;
  overflow: hidden;
  width: 140%;
}
.about-text {
  margin: 10% 10%;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: justify;
}




/* Breakpoints */
/* Tablet */
@media screen and (max-width: 768px) {
  .project-container {
    margin: 3rem 2rem 1rem;
  }
  .img {
    max-height: 200px;
    max-width: 350px;
  }
  .fade-effect {
    max-height: 200px;
    max-width: 350px;
  }
  .about-photo {
    margin: 0 0 0 -10%;
    width: 120%;
  }
  .about-text {
    margin: 5% 5%;
  }
}

/* Mobile */
@media screen and (max-width: 576px) {
  .project-container {
    margin: 3rem 1rem 1rem;
  }
  .img {
    max-height: 200px;
    max-width: 350px;
  }
  .fade-effect {
    max-height: 200px;
    max-width: 350px;
  }
  .about-photo {
    margin: 0 0 0 -10%;
    width: 120%;
  }
  .about-text {
    margin: 5% 5%;
  }
}