/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Poppins:wght@300&display=swap');

/* Global Styles */
body {
  font-family: 'Aboreto', cursive;
  font-family: 'Poppins', sans-serif; 
  font-size: 1.2 rem;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
  overflow: hidden;
}

/* Project Component Styles */
.project{
  height: 250px;
  background: radial-gradient(#6e6e6e,#2f2f2f);
  background: -webkit-radial-gradient(#6e6e6e,#2f2f2f);
  background: -moz-radial-gradient(#6e6e6e,#2f2f2f);
  color: #fff;
  position: relative;
  overflow:hidden;
}
.project figure {
  position: absolute;
  text-align: center;
  padding: 19px;
  width: 100%;
  height: 100%;
}
.project img{
  height: 100%;
  position: absolute;
  transition: ease-in-out .5s;
  -webkit-transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
}
.project:hover img{
  transform: scale(3);
  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  opacity: 0;
}