/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Poppins:wght@300&display=swap');

/* Global Styles */
body {
  font-family: 'Aboreto', cursive;
  font-family: 'Poppins', sans-serif; 
  font-size: 1.2 rem;
  line-height: 1.5;
  color: #333;
}
.title{
  font-size: 3.5rem;
  font-weight: 500;
  margin: 3.5% 0 !important;
}
.app-container {
  position: relative;
  height: 100vh;
  overflow: auto;
}
.content-container {
  position: absolute;
  top: 70px; /* height of the navbar */
  bottom: 80px; /* height of the footer */
  margin-left: calc(100vw - 100%); /* width of the scrollbar -- added to make sure the content is centered */
  left: 0;
  right: 0;
  overflow-y: auto;
}

/* Navbar styling*/
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-nav {
  margin-right: 2rem;
}

/* About Page styling */
#about {
  overflow: hidden;
  height: 650px;
  background-color: #f4f4f4;
}
.about-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-header {
  font-size: 4rem;
  font-weight: bold;
  margin: 10% 0 0 0;
  text-align: 'left';
}
.about-name {
  margin: 0 0 8% 0%;
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  text-align: 'left';
}
.about-photo {
  margin: 0 auto;
  width: 70%;
}
.about-photo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.about-text {
  margin-right: 0%;
  margin-left: 10%;
  font-size: 1.1rem;
  line-height: 1.25rem;
  text-align: left;
}
.about-description {
  font-size: 2rem;
  margin: 0 0 0 8%;
}
.skill-one{
  font-size: 1.5rem;
  margin: 5% 0 0 15%;
}
.skill-two{
  font-size: 1.5rem;
  margin: 5% 0 0 30%;
}
.skill-three{
  font-size: 1.5rem;
  margin: 5% 0 0 45%;
}

/* Portfolio Page Styles */
#Portfolio {
  overflow: hidden;
  height: auto;
  background-color: #333;
}
.portfolio-title {
  color: #f4f4f4;
  text-align: center;
}
.portfolio-background {
  background-position: center;
  background-image: url('../images/icons.png');
  background-repeat: repeat;
  background-size: 97%;
  padding: 4rem 2.5rem;
}
.portfolio-container {
  max-height: 900px;
  height: auto;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: 15px;
  border: solid 2px #f3f3f3;
  border-color: rgba(60, 60, 60, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  overflow: auto;
}
/* Portfolio -- Project styles */
.project-container {
  background-color: #f4f4f4;
  position: relative;
  width: 95%;
  height: 90%;
  max-height: 800px;
  margin: 2rem auto;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.project-header{
  font-size: 4rem;
  color: white;
  font-weight: bold;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.project {
  position: absolute;
  transition: all 0.4s ease;
  opacity: 0;
}
.project-container:hover .project {
  opacity: .9;
}
.fade-effect {
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  color: whitesmoke;
  background: radial-gradient(circle, #777777, #444);
}
.fade-effect:hover .btn {
  color: whitesmoke;
  background-color: #333;
  opacity: 1;
}
.fade-figure{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

/* History Page Styles */
#history {
  overflow: hidden;
  height: 650px;
  background-color: #f4f4f4;
  padding: 4rem 2.5rem;
}
.section-title-light {
  font-size: 3.5rem;
  font-weight: 500;
  color: #333;
  text-align: center;
  margin: 3% 0  4% !important;
}
.history-container{
  height: auto;
  width: 85%;
  margin: 4rem auto;
  background-color: rgba(230, 230, 230, 0.6);
  border-radius: 15px;
  border: solid 2px #f3f3f3;
  border-color: rgba(160, 160, 160, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  overflow: auto;
}

/* Contact Page Styles */
#Contact {
  height: 750px;
  width: 100%;
  background-color: #333;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
    padding: 0rem 2.5rem 2rem;
  align-items: center;
}
.contact-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  margin: 2rem auto;
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: 15px;
  border: solid 2px #f3f3f3;
  border-color: rgba(60, 60, 60, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Footer Styles */
footer {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #333;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
footer div a {
  margin: 0 3rem;
}
.footer-icon {
  font-size: 2.75rem;
  color: #f4f4f4;
}
.footer-icon:hover{
  color: gray;
}

/* Breakpoints */
/* Desktop */
@media screen and (max-width: 1200px) {
  /* About Page */
  .about-photo {
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  /* About Page */
  .about-header{
    font-size: 3.5rem;
  }
  .about-name {
    font-size: 2.5rem;
  }
  .about-description {
    margin-right: 0;
    margin-left: 5%;
    font-size: 1.5rem;
  }
  .skill-one, .skill-two, .skill-three {
    font-size: 1.25rem;
    margin: 5% 0 0 10%;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  /* Navbar */
  .navbar-container{
    justify-content: center;
  }

  /* About Page */
  .about-text{
    margin: 5% 5%;
  }
  .about-photo {
    width: 300px;
    margin-bottom: 2rem;
  }
  .about-header {
    font-size: 2.75rem;
    text-align: center;
  }
  .about-name {
    font-size: 2rem;
    margin: 0 0 3% 0;
    text-align: center;
  }
  .about-description {
    font-size: 1.3rem;
    line-height: 1rem;
    text-align: center;
    margin: 1% 0;
  }
  .skill-one, .skill-two, .skill-three {
    font-size: 1.1rem;
    margin: 2% 0 0 0;
    text-align: center;
  }

  /* Portfolio Page */
  .portfolio-background{
    background-image: url('../images/icons-mobile.png');
    background-size: 100%;
  }
  .project-container {
    width: 95%;
    height: 95%;
    margin: 1rem auto;
  }
}

/* Mobile */
@media screen and (max-width: 576px) {
  /* About Page */
  #about {
    height: 650px;
  }
  .about-header{
    font-size: 2.25rem;
  }
  .about-name {
    font-size: 1.75rem;
  }
  .about-description {
    font-size: 1.25rem;
  }
  .skill-one, .skill-two, .skill-three {
    font-size: 1rem;
  }

  /* Portfolio Page */
  .portfolio-title {
    font-size: 2rem;
  }
  .portfolio-background{
    padding: 2rem 0;
  }
  .project h3 {
    font-size: 1.3rem;
  }
  .project p {
    font-size: .9rem;
  }
  .project a {
    font-size: .8rem;
  }

  /* Footer */
  footer div a {
    margin: 0 1.5rem;
  }
}

/* Animation customizations */
.animate__animated .animate__fadeIn {
  --animate-delay: 2s;
  --animate-duration: 2s;
}

.animate__animated .animate__fadeOut {
  --animate-delay: 2s;
  --animate-duration: 2s;
}